#app {
  background-color: #FF7E9E;
  width: 80%;
  margin: 0 auto;
}


.contactForm {
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.app {
  border: 1px solid black;
}

.contactItem{
  display: inline-block;
  margin: 15px;
}
